.card {
  padding: 14px;
  background: blue;
  color: white;
  display: inline-block;
  .front {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .category {
      margin-left: 8px;
      color: red;
    }
  }
  .back {
    div {
      display: flex;
      justify-content: space-around;
    }
  }
  .hidden {
    display: none;
  }
}
