/* This file is for your main application css. */
@import "./phoenix.css";
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  main.container {
    height: 100%;
  }
}
.hidden {
  display: none;
}
