<div id="home">
  <%= if DateTime.compare(@card.due_at, DateTime.utc_now()) == :lt do %>
    <%= render("_card.html", card: @card, buttons: true, conn: @conn) %>
  <% else %>
    <span><%= diffText @card.due_at, DateTime.utc_now() %></span>
  <% end %>
</div>
