<div id="card-index">
  <%= for card <- @cards do %>
    <div class="cardLine">
      <%= render("_card.html", card: card) %>
      <a href="<%= Routes.cards_path(@conn,:edit,card.id) %>"><button>edit</button></a>
      <a href=""><button>delete</button></a>
    </div>
  <% end %>
</div>
