@import '../colors.scss';
$menu-height: 50px;

#menu-bar {
  width: 100%;
  height: $menu-height;
  display: flex;
  padding: 0px;
  background: $deepGrey;
  color: $yellowHighlight;
  span {
    margin: auto;
    font-size: 20px;
    font-weight: 400;
  }
  .hamburger {
    width: $menu-height;
    height: $menu-height;
    position: absolute;
    left: 0px;
    padding: 6px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      background: $yellowHighlight;
      height: 5px;
      width: 100%;
    }
  }
  .menu {
    background: $deepGrey;
    width: 100px;
    position: absolute;
    left: 0px;
    top: $menu-height;
    z-index: 1;
    a {
      color: $yellowHighlight;
      font-size: 19px;
      padding: 0px 4px 8px 10px;
      width: 100%;
      display: block;
      cursor: pointer;
    }
  }
}
