<div id="menu-bar" data-controller="menu">
  <div class="hamburger" data-action="click->menu#toggle click@window->menu#close" data-target="menu.button">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <span>Consolidate</span>
  <div class="menu" data-target="menu.menu">
    <a href="<%= Routes.cards_path(@conn, :home) %>"> Home </a>
    <a href="<%= Routes.cards_path(@conn, :new) %>"> Add New </a>
    <a href="<%= Routes.cards_path(@conn, :index) %>"> View All </a>
  </div>
</div>
