<div id="menu-bar" data-controller="menu">
  <div class="hamburger" data-action="click->menu#toggle click@window->menu#close" data-target="menu.button">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <span>Consolidate</span>
  <div class="menu" data-target="menu.menu">
    <%= link("Home",to: "/") %>
    <%= link("Add New",to: "/cards/new") %>
    <%= link("View All",to: "/cards") %>
    <%= link("Logout",to: "/logout", method: :post) %>
  </div>
</div>
